*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #D5F1FF;
    overflow: hidden;
}

.all-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar{
    background-color: #B0DAF1;
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-bot{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
}

.left-bar, .right-bar{
    background-color: #C1E7FD;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
}

.btns{
    display: flex;
    justify-content: right;
    align-items: center;
}

.return-slot{
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu-btn, .exit-btn{
    display: flex;
    align-items: center;
    padding-right: 3%;
}

.menu-btn button, .exit-btn button{    
    height: 45px;
    width: 140px;
    color: white;
    font-size: 1rem;
}

.menu-btn button{
    background-color: #F6DC73;
}

.exit-btn button{
    background-color: #FD6666;
}

.btn{
    border-radius: 8px;
    border: transparent solid;
}

.btn:hover{
    background-color: #858585;
}

.page-content{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 2%;
}

.content-title{
    width: 100%;
    text-align: center;
    height: 20%;
    font-size: 2.3rem;
    font-family:Arial, Helvetica, sans-serif;
    color:#5271FF ;
}

.separator hr{
    width: 80%;
    background-color: white;
    color:white;
    border-width:0;
    height: 3px;
    border-radius: 2px;
}

.separator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.find-btn button, .add-btn button{
    height: 70px;
    width: 400px;
    background-color: #79C8F6;
    color: white;
    font-size: 1.4rem;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-btn button{
    height: 40px;
    width: 40px;
    color: white;
    font-size: 1.3rem;
    background-color: #9D9797;
}

.return-btn{
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.input{
    width: 40%;
    height: 5vh;
    border-radius: 8px; 
    border: #79C8F6 solid 2px;
    margin-bottom: 1%;
    text-indent: 10px;
}

.input-group{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between  ; 
    margin-bottom: 1%;    
}

.input-half{
    width: 48% !important;
    margin-bottom: 0 !important;
}

.valid-btn button{ 
    margin-top: 10%;   
    height: 50px;
    width: 200px;
    background-color: #79C8F6;
    color: white;
    font-size: 1.2rem;
}