*{
  padding: 0;
  margin: 0;
  color: white;
  -webkit-user-select:none;
  user-select: none;
}

.content{
  background-color: #f7d2fc;
}

.btn{
  border-radius: 8px;
  border: rgba(0, 0, 0, 0.281) solid 1px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.158);
}

.btn:hover{
  background-color: #46464691 !important;
  cursor:pointer;
}

.btn:active {
  transform: scale(0.90);
  background-color: #858585 !important;
}

.input{
  width: 100%;
  height: 4vh;
  border-radius: 8px; 
  border: #f5a9ff solid 2px;
  margin-bottom: 1vh;
  text-indent: 10px;
  color: black !important;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.158);
}

.text-area{
  width: 100%;
  height: 7vh;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px; 
  border: #f5a9ff solid 2px;
  margin-bottom: 1vh;
  color: black !important;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.158);
  resize: none;
  font-family: Arial;
}

input:focus, textarea:focus{
  border: #f845ef solid 2px;
}

.input-half{
  width: 48.5% !important;
  margin-bottom: 0 !important;
}

.input-group{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between  ; 
  margin-bottom: 1vh;    
}

.option{
  color: #746c6c;
}

.select-placeholder{
  color: #746c6c !important;
}

.radio-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
}

.radio{
  color: #746c6c;
}

.separator hr{
  width: 80%;
  background-color: white;
  color:white;
  border-width:0;
  height: 3px;
  border-radius: 2px;
}

.separator{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.page-content{
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 90vh;
}

.content-holder{
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.title p{
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  color:#fd78b0 ;
  padding-bottom: 10vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 3%;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #cc23ff;
  border-radius: 2px;
}